@page "/MiPri"
@using MiRate.Web.Pages;
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>


<button class="big-button">don't</button>
<button class="big-button">push</button>
<button class="big-button">me</button>